@model WebApplication5.Models.Teacher
@{
}

<h1 class="text-center fw-bold">Teacher Details: </h1>

<div class="container border border-dark mt-4 p-3">
	<p class="fw-bold text-center">Name: @Model.Name</p>
	<p class="fw-bold text-center">Email: @Model.Email</p>
	<p class="fw-bold text-center">Phone: @Model.Phone</p>
	<p class="fw-bold text-center">Address: @Model.Address</p>
	<p class="fw-bold text-center">Salary: @Model.Salary</p>
</div>
